<!DOCTYPE html>
<html>
<head>
    <title>Привет, Мир!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static 'img/logo.png' %}" alt="Логотип">
    
    <h1>Привет, Мир!</h1>
    <h2>Это учебный сайт, с его помощью будут изучены технологии python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>
    
    <p>Здесь есть маркированный список:</p>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
    
    <p>И нумерованный список:</p>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>
    
    <h4>Дополнительный заголовок</h4>
    
    <table border="1">
        <tr>
            <td>Строка 1, Ячейка 1</td>
            <td>Строка 1, Ячейка 2</td>
            <td>Строка 1, Ячейка 3</td>
        </tr>
        <tr>
            <td>Строка 2, Ячейка 1</td>
            <td>Строка 2, Ячейка 2</td>
            <td>Строка 2, Ячейка 3</td>
        </tr>
        <tr>
            <td>Строка 3, Ячейка 1</td>
            <td>Строка 3, Ячейка 2</td>
            <td>Строка 3, Ячейка 3</td>
        </tr>
    </table>
</body>
</html>