<!DOCTYPE html>
<html>
<head>
    <title>Архив всех статей</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/parallax.css' %}">
</head>
<body class="archive">
    <div class="header parallax-header">
        <div class="icons-for-parallax">
            <img class="icon-for-parallax icon-first" 
                 src="{% static 'img/article-icon-for-parallax.png' %}" 
                 alt="Parallax Icon 1">
            <img class="icon-for-parallax icon-second" 
                 src="{% static 'img/article-icon-for-parallax.png' %}" 
                 alt="Parallax Icon 2">
            <img class="icon-for-parallax icon-third" 
                 src="{% static 'img/article-icon-for-parallax.png' %}" 
                 alt="Parallax Icon 3">
        </div>
        
        <div class="header-content">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo">
            <div class="header-text-area">
                <h1 class="service-title">Коллективный блог</h1>
                <div class="header-menu">
                    {% if user.is_authenticated %}
                        <span class="username">{{ user.username }}</span>
                        <a href="{% url 'create_post' %}" class="menu-btn">Новая статья</a>
                        <a href="{% url 'logout' %}" class="menu-btn">Выйти</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="menu-btn">Вход</a>
                        <a href="{% url 'register' %}" class="menu-btn">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Основной контент -->
    <div class="content-wrapper">
        <div class="archive">
            <div class="posts-counter">
                Всего статей: {{ posts|length }}
            </div>
            
            <!-- Цикл вывода всех статей -->
            {% for post in posts %}
            <div class="one-post {% cycle 'post-odd' 'post-even' %}" 
                 style="--post-index: {{ forloop.counter0 }};">
                
                <!-- Заголовок поста с кнопкой сворачивания-->
                <div class="post-header">
                    <h2 class="post-title">
                        <a href="{% url 'get_article' post.id %}" 
                           title="Перейти к полной версии статьи">
                            {{ post.title }}
                        </a>
                    </h2>
                    <button class="fold-button" title="Свернуть статью">свернуть</button>
                </div>
                
                <!-- Информация о статье -->
                <div class="article-info">
                    <div class="article-author">
                        <strong>{{ post.author.username }}</strong>
                    </div>
                    <div class="article-created-date">
                        📅 {{ post.created_date|date:"d.m.Y" }}
                    </div>
                </div>
                
                <!-- Текст статьи -->
                <p class="article-text">{{ post.get_excerpt }}</p>
                
                <!-- Тень для эффекта подсветки -->
                <div class="one-post-shadow"></div>
            </div>
            {% empty %}
            <!-- Сообщение, если статей нет -->
            <div class="empty-message">
                <p>Пока нет статей.</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_post' %}" class="menu-btn">Создать первую статью</a>
                {% else %}
                    <p>Чтобы создать статью, нужно <a href="{% url 'login' %}">войти</a> 
                       или <a href="{% url 'register' %}">зарегистрироваться</a>.</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Подключаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <!-- Подключаем JavaScript файлы -->
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
    <script src="{% static 'js/dom-demo.js' %}"></script>
    
    <!-- jQuery эффекты -->
    <script src="{% static 'js/highlight-post.js' %}"></script>
    <script src="{% static 'js/effects.js' %}"></script>
    
    <!-- Параллакс эффект -->
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/parallax-extras.js' %}"></script>
</body>
</html>